Source: startup-time-checker
Section: utils
Priority: optional
Maintainer: Ulf Karlsson <karlsson.ulf@gmail.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)

Package: startup-time-checker
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Run verification of startup time in early boot systemd service
